/* 아이패드 프로 11 및 비슷한 화면 크기 */
/* @media (min-width: 768px) and (max-width: 1366px) { */
  /* .countCardWithColorWrap {
    width: 11.5%;
    padding: 10px 10px 10px 10px;
  }

  .countCardWithColorWrap > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */

  /* 미니 카드 타이틀 텍스트 */
  /* .countCardWithColorWrap > div > p:first-child {
    font-size: 0.6rem;
  }

  .countCardWithColorWrap > div > p:last-child {
    font-size: 0.5rem;
  } */

  /* 미니 카드 수치 텍스트 */
  /* .countCardWithColorWrap > p:last-child {
    font-size: 0.8rem;
    font-weight: 600;
    padding-right: 8px;
  } */

  /* 탑 콘텐츠 */
  /* .countTopContentsWrap {
    width: 32.5%;
  } */
/* } */

/* 노트북 크기 */
@media (max-width: 1440px) {
  .countCardWithColorWrap {
    width: 12.2%;
    padding: 10px 10px 10px 10px;
  }

  .countCardWithColorWrap > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* 미니 카드 타이틀 텍스트 */
  .countCardWithColorWrap > div > p:first-child {
    font-size: 0.8rem;
  }

  .countCardWithColorWrap > div > p:last-child {
    font-size: 0.7rem;
  }

  /* 미니 카드 수치 텍스트 */
  .countCardWithColorWrap > p:last-child {
    font-size: 1rem;
    font-weight: 600;
    padding-right: 1px;
    text-align: left;
  }

  /* 탑 콘텐츠 */
  .countTopContentsWrap {
    width: 30%;
  }
}

/* PC 화면 크기 */
@media (min-width: 1441px) {
  .countCardWithColorWrap {
    width: 12.5%;
    padding: 10px 10px 10px 10px;
  }

  .countCardWithColorWrap > div {
    display: flex;
    justify-content: space-between;
  }

  /* 미니 카드 타이틀 텍스트 */
  .countCardWithColorWrap > div > p:first-child {
    font-size: 0.9rem;
  }

  .countCardWithColorWrap > div > p:last-child {
    font-size: 0.8rem;
    align-items: right;
  }

  /* 미니 카드 수치 텍스트 */
  .countCardWithColorWrap > p:last-child {
    font-size: 1rem;
    font-weight: 600;
    text-align: right;
  }

  /* 탑 콘텐츠 */
  .countTopContentsWrap {
    width: 30.5%;
  }
}

/* CountCardWithColor */

.countCardWithColorWrap {
  background-color: white;
  /* padding: 10px 20px 10px 20px; */
  height: 70px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(147, 147, 147, 0.1);
}

.countCardWithColorWrap > div > p:first-child {
  font-weight: 600;
}

.countCardWithColorWrap > div > p:last-child {
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #787878;
}

/* CountTopContents */
.countTopContentsWrap {
  background-color: white;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(147, 147, 147, 0.1);
}

.titleArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
}

.contentBodyWrap {
  display: flex;
  flex-direction: column;
  padding: 0 25px 20px 25px;
}

.contentBodyWrap > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 0 8px 0;
}

.contentBodyWrap > div > span:first-child {
  font-size: 0.8rem;
}

.contentBodyWrap > div > span:last-child {
  font-size: 0.8rem;
  font-weight: 600;
}
