@media (max-width: 375px) {
  .footerWrap {
    width: 375px;
  }

  .commentWrapper {
    width: 345px;
  }
}

@media (min-width: 376px) {
  .footerWrap {
    width: 420px;
  }

  .commentWrapper {
    width: 370px;
  }
}

.footerWrap {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  background-color: white;
}

.content {
  background-color: #e4d7ff;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content > div {
  background-color: #712fff;
  height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 13px;
  padding: 10px 15px 10px 15px;
  box-shadow: 3px 3px 10px 4px rgba(82, 82, 82, 0.2);
}

.content > div > div {
  background-color: white;
  width: 28px;
  height: 25px;
  border-radius: 0 10px 0 10px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancelButton {
  width: 10px;
  height: 10px;
}

.content > div > button {
  background-color: #712fff;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  height: 30px;
}

.content > div > p {
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.5;
  margin-top: 15px;
  text-align: center;
}

.commentWrap {
  background-color: white;
  padding-top: 20px;
}

.commentWrap > div {
  padding-left: 10px;
}

.commentWrap > div > p {
  color: #979797;
  font-size: 0.7rem;
}

.loadImgWrap_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 420px;
  background-color: white;
}

.loadImgWrap_1 > div {
  width: 100px;
}
