.wrap {
  width: 100%;
  background-color: #582fff;
  display: flex;
  justify-content: center;
}

.wrap > div {
  display: flex;
  flex-direction: row;
}
.wrap > div:first-child {
  width: 90%;
  height: 100vh;
  background-color: #f7f4ff;
}

.menuBar {
  width: 15%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 10px 0px 10px rgba(147, 147, 147, 0.1);
}
.menuBar > p {
  color: #582fff;
  font-size: 1.3rem;
  font-weight: 600;
}
.menuBar > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menuBar > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 20px 0 0 10px;
}

.menuBar > ul > li > img {
  width: 23px;
  height: 23px;
  margin-right: 13px;
}

.menuBar > ul > li > span {
  color: #582fff;
  font-weight: 600;
}
