/* 아이패드 프로 11 및 비슷한 화면 크기 */
@media (min-width: 768px) and (max-width: 1366px) {
  .contentWrap {
    width: 82%;
  }
  .menuBar {
    width: 13%;
  }
  .menuBar > p {
    color: #582fff;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .menuBar > ul > li > span {
    color: #582fff;
    font-weight: 500;
    font-size: 0.7rem;
  }
}

/* 노트북 크기 */
@media (min-width: 1367px) and (max-width: 1440px) {
  .contentWrap {
    width: 87%;
  }
  .menuBar {
    width: 13%;
  }
  .menuBar > p {
    color: #582fff;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .menuBar > ul > li > span {
    color: #582fff;
    font-weight: 500;
    font-size: 0.9rem;
  }
}

/* PC 화면 크기 */
@media (min-width: 1441px) {
  /* ksh 여기 수정 */
  .contentWrap {
    width: 88%;
  }
  .menuBar {
    width: 12%;
  }
  .menuBar > p {
    color: #582fff;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .menuBar > ul > li > span {
    color: #582fff;
    font-weight: 500;
    font-size: 0.9rem;
  }
}

.wrap {
  width: 100%;
  background-color: #582fff;
  display: flex;
  justify-content: center;
}

.wrap > div {
  display: flex;
  flex-direction: row;
}
.wrap > div:first-child {
  width: 90%;
  height: 100vh;
  background-color: #f7f4ff;
}

.menuBar {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 10px 0px 10px rgba(147, 147, 147, 0.1);
}

.menuBar > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menuBar > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 20px 0 0 10px;
}

.menuBar > ul > li > img {
  width: 23px;
  height: 23px;
  margin-right: 13px;
}

.flexDirRow {
  display: flex;
  flex-direction: row;
}

/* contentWrap */

.contentWrap {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  margin: 26px 0 0 20px;
}

.countCardWithColorArea {
  display: flex;
  flex-direction: row;
  height: 80px;
  margin-top: 20px;
}
