@media (max-width: 375px) {
  .wrap {
    width: 375px;
  }

  .footerWrap {
    width: 375px;
  }

  .progressContentWrap {
    width: 375px;
  }

  .progressWrap {
    width: 330px;
  }

  .loadImgWrap_1 {
    width: 375px;
  }
}
@media (min-width: 376px) {
  .wrap {
    width: 400px;
  }

  .footerWrap {
    width: 400px;
  }

  .progressContentWrap {
    width: 400px;
  }

  .progressWrap {
    width: 350px;
  }

  .loadImgWrap_1 {
    width: 400px;
  }
}
.wrap {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 130px;
}

.footerWrap {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.progressContentWrap {
  background-color: #fff5da;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.progressWrap {
  margin-top: 50px;
  position: relative;
}

.barWrap {
  margin-bottom: 15px;
}

.barWrap > div:first-child {
  width: 100%;
  height: 10px;
  background-color: white;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin-bottom: 10px;
  position: absolute;
}

.gaugeBar {
  background-color: #ffc52f;
  height: 10px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin-bottom: 10px;
  position: absolute;
  transition: width 0.3s ease-in-out;
}

.progressWrap > span {
  color: black;
  font-size: 0.8rem;
}

.progressWrap > span:last-child {
  color: #979797;
  font-size: 0.8rem;
}

.noClick {
  pointer-events: none;
}

.loadImgWrap_1 {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff5da;
}

.loadImgWrap_1 > div {
  width: 100px;
  margin-top: 200px;
}
