.wrap {
  width: 63.5%;
  background-color: white;
  margin: 30px 20px 0 20px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(147, 147, 147, 0.1);
}

.wrap > div {
  margin-bottom: 15px;
  display: flex;
}

.wrap > div > p {
  margin-right: 20px;
}
